@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bourbon/bourbon";
@import "variables";
@import "typography";
@import "mixins/columns-wide";
@import "utility-classes";

.link-group {
  padding: $spacing-unit-lg 0;

  .flex-row {
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-wrap: wrap;
    }

    &::before,
    &::after {
      content: none;
    }
  }
}


.link {
  position: relative;
  height: 100%;
  margin-bottom: $spacing-unit-sm;
  padding: 5px 10px 10px;
  background-color: $color-white;
  font-size: 14px;
  display: block;

  &:hover {
    text-decoration: none;

    .link-title {
      text-decoration: $link-hover-decoration;
    }
  }

  @media (min-width: $screen-md-max) {
    margin-bottom: 30px;
  }

  .link-group--alt & {
    $lt-shadow-color: rgba(0, 0, 0, .10);
    $lt-border-color: #f0f0f0;
    border-radius: 3px;
    border: 1px solid $lt-border-color;
    box-shadow: 0 2px 6px 0 $lt-shadow-color;
  }
}

.link-title {
  @include accent-font-regular;
  $lt-color: #380d75;
  color: $lt-color;
  font-size: 20px;
}

.link-description {
  margin-bottom: 16px;
  color: $color-gray;
  font-weight: 300;
}
