!!! 5
%html{lang: "ja"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    - if gtm_enabled?
      = partial 'includes/layout/gtm_body.html'
    .page-wrap
      = partial "includes/layout/header"

      .simple-header
        %h1
          GitLabと他のツールとの比較

      .comparison-container.full-post
        .container.comparison-table
          .comparison-page-content.col-sm-12
            = yield

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %em
            GitLabはGitLab, Inc.の商標です。その他のすべての商標・ロゴマークの権利はそれぞれの所有者に帰属します。

      .comparison-page-info.explore-product-roadmap
        .container
          .open-core
            %h2.text-center
              GitLabはオープンコア
            %p.text-center
              GitLabの競合製品のほとんどはソースコードを公開していませんが、GitLabはオープンコア製品です。
              GitLabコミュニティエディションは完全なオープンソースで、
              GitLabエンタープライズエディションはオープンコア(プロプライエタリ)です。
            .row
              .col-md-6
                %h3
                  ソースコードにアクセス
                :markdown
                  クローズドソースなソフトウェアと異なり、
                  [コミュニティエディション](https://gitlab.com/gitlab-org/gitlab-ce/)と[エンタープライズエディション](https://gitlab.com/gitlab-org/gitlab-ee/)の
                  ソースコードを確認したり、修正することができます。
                  機能の追加やカスタマイズのために、サーバーのソースコードを修正したり、GitLabのリポジトリをフォークすることができます。
                  独自に実施した変更はメインのソースコードにフィードバックし、マージされるように挑戦することを推奨します。
                  それにより、他のユーザーの役に立つ上に、自身のインスタンスのアップデート作業を簡単に保つことができます。
              .col-md-6
                %h3
                  コミュニティからの貢献
                %p
                  GitLabには毎月数百人からの貢献があります。
                  顧客・ユーザー・GitLab社員のすべてが毎月のリリースに貢献しています。
                  このことは、簡単に使用できる便利なユーザー管理のような、
                  組織にとって本当に必要な機能の開発に役立っています。
            .row
              .col-md-6
                %h3
                  長期利用に最適
                %p
                  GitLabは、数十万の組織が利用し、頻繁にソフトウェアへ貢献しています。
                  GitLabには堅牢なコミュニティが存在します。
                  つまり、GitLabは単一企業のサポートに依存していないので、
                  長期利用に適しています。
              .col-md-6
                %h3
                  毎月、新しい安定版がリリース
                %p
                  毎月、機能の改善と新機能の追加と不具合の修正のすべてが適用された、
                  GitLabの新しい安定版がリリースされます。
                  これにより、GitLabはとても迅速に顧客の要望に応えることができます。

        - if current_page.data.trial_bar
          = partial "includes/features/gitlab-ee-trial"

        .footer-container
          = partial "includes/layout/footer"
