---
trial_bar: true
title: コンプライアンス
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.compliance, solution_name: "compliance" }
