---
layout: comparison_page
trial_bar: true
title: "Travis CI vs. GitLab CI/CD | GitLabとその他のツールの比較"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_ci_vs_travis_ci, product_one: competitors.gitlab_ci, product_two: competitors.travis_ci, key_one: :gitlab_ci, key_two: :travis_ci }
