---
title: ブログ - アーカイブ
---

.blog.archives
  .wrapper
    .section
      %ul
        - blog.articles.each do |post|
          %li
            - if post.date
              %time
                = post.date.to_time.strftime '%Y年%m月%d日'
            = link_to post.url do
              = post.title
