---
trial_bar: true
title: パッケージ
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.package, solution_name: "package" }
